.buildpath
.settings/
.project
*.patch
.idea/
.git/
runtime/
.phpintel/
.env
.DS_Store
.phpunit*
*.cache
composer.lock
/composer.lock
config/database.php
public/nginx.htaccess
public/images/
app/api/controller/Test.php


/.idea
